.content{   
    padding: 50px 200px;
    z-index: 10;
    margin-top: 35px;
    /* padding-bottom: 100px; */
    min-height: 200px;
    text-align: justify;
    background-color: #222;
    box-shadow: 0px 0px 20px #111;
  }
.contentsidebox{
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    /* margin: 0px -100px; */
}
.contentside{
    padding: 20px 50px;
    flex: 0.8;    
    padding-top: 50px;
}
.sideimg{
    flex: 0.2;
    /* background-color: red; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#zindex-1{
    z-index: -1;
}
a:link, a:visited{
    text-decoration: none; 
    color: antiquewhite;

}
a:hover{
    text-decoration: underline;
    color: aliceblue;
}
@media only screen and (max-width: 1200px){
    .contentsidebox{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .content{
        padding: 50px;
    }
}
@media only screen and (max-width: 838px){
    .content{
        margin-top: 110px;

    }
    .heading{
        line-height: 110px;
    }
}

@media only screen and (max-width: 650px){
    
.sideimg img{
    width: 100%;
}
.contentside{
    padding-top: 10px;
    padding: 10px 20px;
}

} 

    