
.container-flutter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vm;
}
.container-flutter img{
    border-radius: 20px;
    box-shadow: 0px 0px 20px #111;
    z-index: 2;
    width: 60%;
    height: auto;
}
#firstmain{
    margin-top: 130px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 5px;
    justify-content: center;
    align-content: center; 
}
.images img{
    height: 250px;
}
.images img:hover{
scale: 103%;
}
.content{
display: flex;
padding: 50px 0px ;
padding-top: 5%;
margin-top: -4%;
text-align: justify;
background-color: #181818;
box-shadow: 0px 0px 20px #000;
}

.textcontainer{
    /* background-color: red; */
    width: 60%;
    padding: 30px;
}



@media only screen and (max-width: 650px){
    .content{
        display: block;
    }
    .textcontainer{
        width: 100%;
    }
    .images{
        width: 100%;
    }
    .images img{
        height: 180px;
        /* margin: 5px; */
    }
    
    .container-flutter img{
        width: 90%;
    }
}