@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Passion+One&family=Poppins:wght@300;400;700;800&family=Preahvihear&family=Roboto+Mono&family=Rowdies&family=Rubik+Wet+Paint&family=Syne+Mono&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box; 
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #333;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #90b781; 
    border-radius: 6px; 
  }
  ::-webkit-scrollbar-thumb:hover {  background-color: #669455; }
  ::-webkit-scrollbar:hover { transition: 0.3s; }
  
body {
    margin: 0;
    color: antiquewhite;
    background-color: #333;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    /* padding: 0px 60px; */
}

h1{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 1.5vw   ;
}

.main {
    color: antiquewhite;
    margin: 30px 80px;
    /* font-family: Verdana; */
    letter-spacing: 0.1em;
    padding: 10px 10px 10px 15px;
    font-size: 17px;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1); 
    
}
video{
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1); 
}


.code {
    overflow: auto;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sourcecode{
    height: 300px;
}
/* #sourcecode:hover{
    height: auto;
} */

a:link,
a:visited {
    color: #90b781;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1); ;
    text-decoration: none;
}
a:hover {
    color: #a6df90;
    text-decoration: none;
}

.center {
    text-align: center;
    font-size: 1.8em;
    font-family:  'Poppins', sans-serif;
    font-weight: 600;
}
.system{
    display: flex;
    margin: 10px 60px;
    padding: 0px;
    
    /* background-color: #90b781; */
}
#sys1{   
    margin: 0px 15px;
    /* background-color: aqua; */
    width: calc(40vw - 90px);
}
#sys2{   
    margin: 0px 15px;
    /* background-color: red; */
    width: calc(60vw - 90px);
}
.imgcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imgcontainer img{
    padding: 1vw;
    border-radius: 20px;
    width: 42vw;
}
.footerBttn{
margin: 10px 5px;
border-radius: 50px ;
padding: 10px 10px 5px 10px;
border: none;
background: #333;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
transition: 0.2s;
}
.footerBttn:hover{
background-color:#90b781;
transition: 0.3s;
scale: 110%;
}

.footerBttn img{
filter: brightness(70%);
}
.footerBttn:hover img{
filter: brightness(0%);
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1); 
    background: #111;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    
}
#Contact{
    color: #90b781;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.contactTile{
    display: flex; flex-wrap: wrap; justify-content: center;
}

@media only screen and (max-width: 800px){
    .system{
        display: block;
        margin: 0px;

    }
    #sys1, #sys2{
        width: auto;
        margin: 30px 80px;  
    }
}

@media only screen and (max-width: 650px){

body{
    padding: 0px 20px;
}
    .main{
    font-size: 3vw;
    margin: 20px 30px;
}

#sys1, #sys2{
    margin: 20px 30px;
}

.imgcontainer img{
    width: 95%;
}
.center{
    font-size: 4.3em;
}
video{
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1); 
}
}
