@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Gabarito:wght@600&family=Passion+One&family=Poppins:wght@300;400;700;800&family=Preahvihear&family=Roboto+Mono&family=Rowdies&family=Rubik+Wet+Paint&family=Space+Mono&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Handjet:wght@600&family=Rowdies:wght@300&family=Russo+One&family=Staatliches&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
    scroll-behavior: smooth;}
body::-webkit-scrollbar {width: 8px;height: 10px;background: #211D21;}
body::-webkit-scrollbar-thumb {transition: background-color 0.3s;background: linear-gradient(transparent, #90b781);border-radius: 6px;}  
body.scrolling-up::-webkit-scrollbar-thumb {transition: background-color 0.3s;background: linear-gradient( #90b781, transparent);border-radius: 6px;}
body {
    margin: 0;
    padding: 30px;
    color: antiquewhite;
    background-color: #222;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;   
}
    
.mainHeading{
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    line-height: 80px;
}

h1{
  line-height: 30px;
}

/* styles.css */
.copy-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#copy-content {
    background-color: #444;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    max-width: 90vw;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
}

.copy-button {
    background-color: #90b781;
    color: #fff;
    border: none;
    font-weight: 600;
    padding: 0px;
    display: flex;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.text-container{
    border-radius: 30px;
    width: fit-content;
    background-color: #333;
    padding: 10px;
}

.code{
  background-color: #444; 
  padding: 2px; border-radius: 5px;
}

table {
    border-radius: 30px;
    padding: 5px;
    background-color: #333;
  }
  
  th {
    background-color: #404140; 
    color: #a9d995; 
    padding: 10px; 
    text-align: left; 
    border-radius: 30px;
  }
  
  
  td {
    border-radius: 30px;
    background-color: #333;
    padding: 10px; 
    text-align: left; 
  }

  a{
    color: #777;
    font-weight: 700;
    text-decoration: none;
  }

  a:hover{
    color: lightskyblue;
    text-decoration: underline;
  }

  button img{
    height: 30px;
    opacity: 0.6;
  }

  .tool-tip{
    visibility: hidden;
    width: 0px;
    font-size: 10px;
  }

  .copy-button:focus .tool-tip{
    scale: 1.3;
    visibility: visible;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.1s;
  }

  @media only screen and (max-width: 1114px){
  
  body{
    padding: 10px;
  }    
  }