@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Gabarito:wght@600&family=Passion+One&family=Poppins:wght@300;400;700;800&family=Preahvihear&family=Roboto+Mono&family=Rowdies&family=Rubik+Wet+Paint&family=Space+Mono&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Handjet:wght@600&family=Rowdies:wght@300&family=Russo+One&family=Staatliches&display=swap');
* {
  box-sizing: border-box;  
  scroll-behavior: smooth;
  
}
body::-webkit-scrollbar {width: 8px;height: 10px;background: #211D21;}
body::-webkit-scrollbar-thumb {transition: background-color 0.3s;background: linear-gradient(transparent, #90b781);border-radius: 6px;}  
body.scrolling-up::-webkit-scrollbar-thumb {transition: background-color 0.3s;background: linear-gradient( #90b781, transparent);border-radius: 6px;}
body {
  margin: 0;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    background-color: #000;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;   
  }
  
  .mainHeading{
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    line-height: 80px;
    
  }
  
  h1{
    line-height: 30px;
    margin: 0px;
    padding: 0px;
  }
  h2{
  line-height: 5px;
}
h3{
  line-height: 0px;
  color: #cec;
}

/* styles.css */
.copy-container {
  display: flex;
  width: 95vw;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}

#copy-content {
  background-color: #222;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  max-width: 90vw;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
}

.copy-button {
  background-color: #90b781;
  color: #fff;
  /* width: 50px; */
  overflow-x: hidden;
  border: none;
  font-weight: 600;
  padding: 0px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.end{
  margin-top: 20px;
  display: flex;
  color: #90b781;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-family: 'Space Mono', monospace; 
}
.code{
  background-color: #222; 
  width: fit-content;
  max-width: 95vw;
  min-width: 600px;
  border-radius: 10px;
}
.codeHead{
  background-color: #151515;
  display: flex;
  border-radius: 10px;
  padding-left: 10px;
  align-items: center;
  font-size: small;
  color: #555;
  justify-content: space-between;
}
pre{
  padding: 0px 0px 10px 0px;
  margin: 0px;
  /* font-family: 'Roboto Mono', monospace; */
  overflow-x: auto;
  font-family: 'Space Mono', monospace; 
  font-size: smaller;
  color: #ded;
}
.codeContent{
  margin: 0px 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #222;
  overflow: auto;
}
table {
  border-radius: 30px;
  padding: 5px;
  min-width: 600px;
  overflow-y: hidden;
  background-color: #111;
}
  
  th {
    background-color: #202120; 
    color: #a9d995; 
    padding: 10px; 
    text-align: left; 
    border-radius: 30px;
  }
  
  
  td {
    border-radius: 30px;
    background-color: #111;
    padding: 10px; 
    text-align: left; 
    font-size: medium;
  }

  a{
    color: #555;
    font-weight: 700;
    text-decoration: none;
  }

  a:hover{
    color: lightskyblue;
    text-decoration: underline;
  }
img{
  border-radius: 15px;
}
  button img{
    height: 30px;
    opacity: 0.6;
  }
  .tool-tip{
    visibility: hidden;
    width: 0px;
    color: #444;
    font-size: 10px;
  }

  .copy-button:focus .tool-tip{
    scale: 1.3;
    visibility: visible;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.1s;
  }
  .sidenav {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #0f0f0f;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
    /* -ms-overflow-style: none; scrollbar-width: none;   */
  }

.sidenav::-webkit-scrollbar { 
    background-color: transparent;
    width: 5px;
}
.sidenav::-webkit-scrollbar-thumb { 
    background-color: #222;
    border-radius: 100px;
}

  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
    display: block;
    margin: 0px 0px 0px 5px;
    padding: 0px;
  }
  .sidenav a:hover {
    color: #dfd;
  }
  .sidenav ul li a{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
  }
  .sidenav ul{
    margin: 0px 0px 0px 30px;
    padding: 0px;
  }
  

  .main {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 0px 10px;
  }
  
  /* Style the open button */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    background: #a9d99533;
    border-radius: 35px;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
    @media only screen and (max-width: 1114px){
    
    body{
      padding: 10px;
    }    
  
    td:nth-child(2), td:nth-child(3){
        font-size: small;
    }
  
    .colors td{
      font-size: medium !important;
    }
    .code{
      min-width: 95vw !important;
      width: 95vw;
    }
    }
    @media only screen and (max-width: 600px){
      table{
        min-width: 100px;
        width: 95vw;
      }
      .sidenav {
        width: 0;
      }
      .main {
        margin-left: 0;
      }
      .openbtn {
        display: block;
      }
    }