@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Passion+One&family=Poppins:wght@300;400;700;800&family=Preahvihear&family=Roboto+Mono&family=Rowdies&family=Rubik+Wet+Paint&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Handjet:wght@600&family=Rowdies:wght@300&family=Russo+One&family=Staatliches&display=swap');

body{
    background-color: #222 !important;
}
iframe{
    width: 60%;  
    height: 30vw;
    border-radius: 30px;
    margin-top: 130px;
    z-index: 1;
    box-shadow: 0px 0px 30px #111;
}
.videocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.videocontainer iframe{
    background-color: #111;
}
.content{
    padding: 10px 200px;
    padding-top: 7%;
    margin-top: -6%;
    text-align: justify;
    /* background-color: red; */
    background: linear-gradient(0deg, #222 0%, #151515 15%, #151515 85%, #222 100%);
}
li{
    font-size: large;
}

@media only screen and (max-width: 900px){

iframe{
    width: 95%;
    height: 50vw;
    border-radius: 15px;
    margin-top: 20%;
}
    .content{
    padding: 20px;
    padding-top: 40px;
}
}

@media only screen and (max-width: 650px){

.heading{
    font-size: 23vw;
    padding-top: 0.3vw;
  }

}